CroparCuboPara592/.vs/*
CroparCuboPara592/CroparCuboPara592/bin/*
CroparCuboPara592/CroparCuboPara592/obj/*
GerarLadosIdentificadores/.vs/*
GerarLadosIdentificadores/CroparCuboPara592/bin/*
GerarLadosIdentificadores/CroparCuboPara592/obj/*
Transformar592x592ParaTextoPuro/.vs/*
Transformar592x592ParaTextoPuro/CroparCuboPara592/bin/*
Transformar592x592ParaTextoPuro/CroparCuboPara592/obj/*
